<head>
  <title>Pontuar Tarefas</title>
</head>

<body>
  <div id="outer">
    {{> board}}
  </div>
</body>

<template name="board">
  <div class="board">
    {{#each tarefas}}
      {{> tarefa}}
    {{/each}}
  </div>

  {{#if nomeTarefaSelecionada}}
  <div class="details">
    <div class="name">{{nomeTarefaSelecionada}}</div>
	<input type="radio" name="pontos" class="inc" value="0" checked="{{valorSelecionado 0}}"/>0
	<input type="radio" name="pontos" class="inc" value="1"  checked="{{valorSelecionado 1}}"/>1
	<input type="radio" name="pontos" class="inc" value="2"  checked="{{valorSelecionado 2}}"/>2
	<input type="radio" name="pontos" class="inc" value="4"  checked="{{valorSelecionado 4}}"/>4
	<input type="radio" name="pontos" class="inc" value="8"  checked="{{valorSelecionado 8}}"/>8
	<input type="radio" name="pontos" class="inc" value="16"  checked="{{valorSelecionado 16}}"/>16
	<input type="radio" name="pontos" class="inc" value="32"  checked="{{valorSelecionado 32}}"/>32
  </div>
  {{else}}
	  <div class="none">Selecione uma tarefa</div>
  {{/if}}
</template>

<template name="tarefa">
  <div class="tarefa {{selected}}">
    <span class="name">{{name}}</span>
	<span class="esforco">{{esforco}}</span>
  </div>
</template>

